
/*body {
    font-family: Arial, sans-serif;
    background-image: url('./img/sofa5.jpeg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center;     
    margin: 0;
    padding: 0;
    
  }*/
  